@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: futura;
  src: url("./assets/fonts/FuturaPTBook.otf");
  font-weight: 400;
}
@font-face {
  font-family: futura;
  src: url("./assets/fonts/FuturaPTBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: futura;
  src: url("./assets/fonts/FuturaPTMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: futura;
  src: url("./assets/fonts/FuturaPTHeavy.otf");
  font-weight: 600;
}

html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: #000523;
  color: white;
  font-family: futura;
  font-weight: 400;
}
.bg_line {
  background-image: url("./assets/img/bg-line-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_hero {
  background-image: url("./assets/img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box_shadow {
  box-shadow: 0px 0px 33px 7px rgba(242, 165, 0, 1);
}
@media (min-width: 1400px) {
  .bg_hero {
    background-size: 120%;
  }
}
