@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: futura;
  src: url("./assets/fonts/FuturaPTBook.otf");
}
@font-face {
  font-family: futura;
  src: url("./assets/fonts/FuturaPTBold.otf");
}
@font-face {
  font-family: futura;
  src: url("./assets/fonts/FuturaPTMedium.otf");
}
@font-face {
  font-family: futura;
  src: url("./assets/fonts/FuturaPTHeavy.otf");
}

body {
  background-color: #000523;
  color: white;
  font-family: futura;
}
